<article class="listing is-card">
  <%= link_to listing, class: 'listing_primary-link' do %>
    <figure class="listing_thumbnail">
      <%= image_tag unsplash_image_url(listing.city_name, width: 800, height: 600),
        alt: listing.city_name, class: 'listing_thumbnail_image'
      %>
    </figure>
    <figcaption>
      <strong>
        <% case fee = listing.nightly_fee_for_earliest_available_date %>
        <% when Money %>
          <%= humanized_money_with_symbol fee %>
        <% else %>
          <%= 'Out' %>
        <% end %>
      </strong>
      <span><%= listing.city_name %></span>
    </figcaption>
  <% end %>
</article>