<%= form_for(listing) do |f| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Country' %>
    <%= f.collection_select :region_country_code_upper, @countries, :alpha2, :name %>
  </div>

  <div class="field">
    <%= f.label 'City' %>
    <%= f.text_field :city_name %>
  </div>

  <div class="field">
    <%= f.label :street %>
    <%= f.text_field :street %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
