<article>
  <figure>
  </figure>

  <p>
    <strong>Address:</strong>
    <%= @listing.address %>
  </p>

  <p>
    <strong>Lat:</strong>
    <%= @listing.lat %>
  </p>

  <p>
    <strong>Lng:</strong>
    <%= @listing.lng %>
  </p>

  <figure>
    <%= render partial: 'map_embed', locals: { lat: @listing.lat, lng: @listing.lng } %>
  </figure>

  <% host_profile = @listing.host.profile %>
  <% if host_profile %>
    <aside>
      <h2>Hosted by <%= link_to host_profile.first_name, host_profile %></h2>
      <%= render host_profile, locals: { small: true } %>
    </aside>
  <% end %>

  <nav>
    <%= link_to_if current_user == @listing.host, 'Edit', edit_listing_path(@listing) %>
  </nav>
</article>