<p id="notice"><%= notice %></p>

<h1>Provisions for <%= link_to @listing.address, @listing %></h1>

<table>
  <thead>
    <tr>
      <th>Start date</th>
      <th>Guest max count</th>
      <th>Bed count</th>
      <th>Minimum nights</th>
      <th>Nightly fee</th>
      <th>Cleaning fee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listing_provisions.each do |listing_provision| %>
      <tr>
        <td><%= listing_provision.start_date %></td>
        <td><%= listing_provision.guests_max %></td>
        <td><%= listing_provision.bed_count %></td>
        <td><%= listing_provision.nights_min %></td>
        <td><%= humanized_money_with_symbol listing_provision.nightly_fee %></td>
        <td><%= humanized_money_with_symbol listing_provision.cleaning_fee %></td>
        <td><%= link_to 'Show', [@listing, listing_provision] %></td>
        <td><%= link_to 'Edit', edit_listing_listing_provision_path(@listing, listing_provision) %></td>
        <td><%= link_to 'Destroy', [@listing, listing_provision], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Listing Provision', new_listing_listing_provision_path %>
