<p>
  <strong>Start date:</strong>
  <%= @listing_provision.start_date %>
</p>

<p>
  <strong>Maximum number of guests:</strong>
  <%= @listing_provision.guests_max %>
</p>

<p>
  <strong>Bed count:</strong>
  <%= @listing_provision.bed_count %>
</p>

<p>
  <strong>Minimum number of nights:</strong>
  <%= @listing_provision.nights_min %>
</p>

<p>
  <strong>Nightly fee cents:</strong>
  <%= @listing_provision.nightly_fee_cents %>
</p>

<p>
  <strong>Cleaning fee cents:</strong>
  <%= @listing_provision.cleaning_fee_cents %>
</p>

<%= link_to 'Edit', edit_listing_listing_provision_path(@listing, @listing_provision) %> |
<%= link_to 'Back', listing_listing_provisions_path(@listing) %>
